<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5p] [%d] [%t] %x %c - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="akka" level="${env:LOG_LEVEL:-WARN}"/>
        <Logger name="com.datastax" level="${env:LOG_LEVEL:-WARN}"/>
        <Logger name="io.netty" level="${env:LOG_LEVEL:-WARN}"/>
        <Logger name="org.apache.cassandra" level="${env:LOG_LEVEL:-WARN}"/>
        <Logger name="org.apache.hadoop" level="${env:LOG_LEVEL:-WARN}"/>
        <Logger name="org.apache.spark" level="${env:LOG_LEVEL:-WARN}"/>
        <Logger name="org.cassandraunit" level="${env:LOG_LEVEL:-WARN}"/>
        <Logger name="org.spark-project" level="${env:LOG_LEVEL:-WARN}"/>
        <Logger name="org.apache.spark.api.r" level="${env:LOG_LEVEL:-INFO}"/>
        <Logger name="org.reflections" level="${env:LOG_LEVEL:-WARN}"/>
        <Logger name="parquet.hadoop" level="${env:LOG_LEVEL:-WARN}"/>
        <Logger name="slick" level="${env:LOG_LEVEL:-INFO}"/>
        <Logger name="ai.deepsense" level="${env:LOG_LEVEL:-DEBUG}"/>
        <Logger name="org.spark_project.jetty" level="${env:LOG_LEVEL:-WARN}"/>
        <Logger name="DataNucleus" level="${env:LOG_LEVEL:-WARN}"/>
        <Logger name="com.jolbox" level="${env:LOG_LEVEL:-WARN}"/>
        
        <Root level="${env:LOG_LEVEL:-WARN}">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
