ipykernel==4.5.0
ipython==5.1.0
ipython-genutils==0.1.0
Jinja2
jsonschema
jupyter-client==4.4.0
jupyter-core==4.2.0
jupyterhub==0.5.0
MarkupSafe
mistune
nbconvert==4.2.0
nbformat==4.1.0
notebook
pamela
pexpect
pickleshare
pika==0.11.2
prompt-toolkit==1.0.7
ptyprocess==0.5.1
Pygments==2.1.3
requests==2.10.0
ruamel-yaml
simplegeneric
six
SQLAlchemy
terminado==0.6
tornado==4.4.2
traitlets
wcwidth