ipykernel==4.5.0
ipython==5.1.0
ipython-genutils==0.2.0
jupyter-client==4.4.0
jupyter-core==4.2.0
numpy
pandas
python-dateutil==2.7.2
pytz==2018.3
pyzmq==17.0.0
requests
tornado==4.1
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
scikit-learn   
scipy          
seaborn        
shap           
reportlab      
#requests       
#python-dateutil
SQLAlchemy==1.4.45
xgboost
tensorflow
keras
kmodes==0.12.2
flask
matplotlib
pyarrow==1.0.1
