asn1crypto
backports.shutil-get-terminal-size
backports.ssl-match-hostname
certifi
cffi
chardet
cryptography
decorator
enum34
idna
ipaddress
ipykernel==4.3.1
ipython==5.6.0
ipython-genutils==0.2.0
jupyter-client==4.3.0
jupyter-core==4.4.0
nose
numpy
pandas
pathlib2==2.3.0
pexpect==4.4.0
pickleshare==0.7.4
pika==0.11.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pycosat==0.6.3
pycparser==2.18
Pygments==2.2.0
pyOpenSSL==17.2.0
pyparsing==2.0.3
PySocks==1.6.7
python-dateutil==2.7.2
pytz==2018.3
pyzmq==17.0.0
requests==2.18.4
ruamel-yaml
scikit-learn
scipy
seaborn
simplegeneric==0.8.1
six
tornado==4.1
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
matplotlib